@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: 'Fira Code', monospace;
}

body {
    background: #232323;
}

select {
    outline: none;
}

header {
    background: #232323;
}

#mobile-menu {
    background-color: #232323;
}